@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-nexa: 'Nexa', sans-serif;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/nexa-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-nexa), var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFF7;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nexa);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text-whiteg {
  color: #FFFFF7 !important;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes scrollClouds {
  from { background-position: 0 0; }
  to   { background-position: -100% 0; }
}

.clouds-container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.clouds-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
}

.cloud {
  position: absolute;
  height: auto;
  width: 900px; /* plus lisible pour le layout horizontal */
  opacity: 1;
  will-change: transform;
  object-fit: contain;
}

.cloud.minicloud {
  width: 300px;
  opacity: 1;/* derrière les autres nuages */
}